.contact__container{
    height: 60vh;
    display: flex;
    width: 100vw;
    align-items: center;
    margin: auto;
    background-color: #f2f3f5;
    background-color: #F4DFC8;
}

.contact__container > div >  img{
    height: 60%!important;
    width: 66%;
    border-radius: 20px;
}

.contact__image{
    width: 60%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: black;
}

.form__container{
    background-color: #f2f3f5;
    padding: 30px 5px;
    border-radius: 10px;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    height: 80%;
}
.form__container > div{
    width: 100%;
    align-items: center;
    display: flex;
    column-gap: 10px;
    margin-left: 40px;
}
.form__container > div > i {
    color: #ffffff;
    background: #a8cf45;
    padding: 4px;
    border-radius: 5px;
}

.form__container > form > div > input {
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    width: 45%;
    border-radius: 4px;
}
.form__container > form > div > input::placeholder{
    color: black;
}

.form > button{
    color: black;
    font-weight: bold;
    font-size: large;
    background: #a8cf45;
    width: 96%;
    border-radius: 10px;
    padding: 10px;
}
.form{
    
    color: black;
    height: 100%;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
    max-width: 100%;
}
.form > div{
    column-gap: 20px;
    max-width: 100%;
    justify-content: center;
    align-items: center;
}
.form > textarea {
    width: 96%;
    border-radius: 4px;
    background-color: #fff;
    border: 1px solid black;
    padding: 10px;
    height: 40%;
}
.form > textarea::placeholder{
    color: black;
}

@media screen and (max-width:1160px){
.contact__image{
    width: 50%;
}
.form__container{
    height: 88%;
}
}

@media screen and (max-width:990px){
    .contact__container > div > img{
        height: 55%!important;
    }
    .form__container{
        width: 40%;
    }
}

@media screen and (max-width:775px){
    .form__container{
        width: 55%!important;
    }
    .contact__image{
        width: 40%;
    }
    .content__image > h1{
        font-size: large!important;
    }
    .contact__container > div > img{
        width: 80%;
    }
}

@media screen and (max-width:690px){
    .contact__container > div > img{
        display: none;
    }
    .content__image{
        display: flex;
        row-gap: 10px;
        flex-direction: column;
        width: 54%;
    }
    .contact__image{
        height: fit-content;
        margin-bottom: 10px;
        width: 100%;
        letter-spacing: 2px;
    }
    .contact__container{
        flex-direction: column;
    }
    .form__container{
        width: 60%!important;
        height: 70%!important;
    }
}

@media screen and (max-width:630px){
    .contact__container{
        height: 70vh;
    }
    .content__image{
        width: 70%;
    }
    .form__container{
        width: 75%!important;
    }
}