table, th , td{
    border: 1px solid white;
  }

  td{
    padding: 15px;
  }


.dform > div > div > label{
  --tw-bg-opacity: 1;
    color: rgb(30 58 138 / var(--tw-bg-opacity));
    color: #F4DFC8;
    width: 40%;
    padding-left: 10px!important;
    font-weight: bold;
    font-size: large;
}

.dform > div > label {
  --tw-bg-opacity: 1;
  color: rgb(30 58 138 / var(--tw-bg-opacity));
  color: #F4DFC8;
  width: 40%;
  padding-left: 10px!important;
  font-weight: bold;
  font-size: large;
}

.dform > div >  textarea{
  width: 70%!important;
}


.dform > div > input , textarea, select{
  background-color: #F4DFC8;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: 40%;
}


.dform > div > div > input,textarea,select{
  background-color: #F4DFC8;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: 40%;
}
.dform > div > div > div > input,textarea,select{
  background-color: #F4DFC8;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: 40%;
}
.dform > div > textarea::placeholder{

  color : black!important;
}

.dform > div > input:active{
  border: none;
}

.dform > div > input::placeholder{
  color: black!important;
}
.dform > div > div> input::placeholder{
  color: black!important;
}



.dform > div >  button, select {
  text-transform: none;
}


.btn__property {
   background-color: #F4DFC8!important;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: -moz-fit-content;
  width: fit-content;
}

.form__property__add{
  width: 80vw;
  margin: 100px auto;
}

.dform {
  display: flex;
  justify-content: center;
}

.dform > div{
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: 15px;
}

.uploaded__images>div{
  display: flex;
  column-gap: 20px;
  max-width: 80%;
  flex-wrap: wrap;
}

.uploaded__images > div > div > i{
  color: red !important;
  font-size: x-large;
  top: 10%;
  cursor: pointer;
  left: 10%;
}

.uploaded__images > div > div > img{
  width: 160px!important;
  height: 160px!important;
}

.xx{
  --tw-bg-opacity: 1;
    background-color: rgb(30 58 138 / var(--tw-bg-opacity))!important;
    color: white!important;
    padding: 10px!important;
    border-radius: 5px!important;
    width: -moz-fit-content;
    width: fit-content;
}



.dform > div >  .textarea{
  width: 100%!important;
  height: 300px;
}


.dform > div > input , .textarea, select{
  background-color: #F4DFC8;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: 40%;
}


.dform > div > div > input,.textarea,select{
  background-color: #F4DFC8;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: 40%;
}
.dform > div > div > div > input,.textarea,select{
  background-color: #F4DFC8;
  color: black!important;
  padding: 10px!important;
  border-radius: 5px!important;
  width: 40%;
}
.dform > div > .textarea::placeholder{

  color : black!important;
}

.ql-container.ql-snow{
  border: none!important;
}

.addGray{
  margin-top: 20px;
  width: 70%;
  background-color: lightgray!important;
  font-weight: bolder;
  font-size: x-large;
}