.featured__container{
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
}
.featured__parent{
    padding: 10px;
    width: 60vw;
    margin: 60px auto;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 90vw;
    color: white!important;
}
.featured__display{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #F4DFC8;
    color: black;
    width: 330px;
    border-radius: 8px;
    padding: 20px;
    margin-bottom: 20px;
    height: 400px;
}
.featured__toggle{
    cursor: pointer;
}
.featured__toggle :hover{
    border-bottom: 2px solid #F4DFC8;
}
.featured__display > img{
    border-radius: 10px;
    aspect-ratio: 7/4;
}
.l{
    letter-spacing: 1px;
}
.featured__display >h1{
    letter-spacing: 3px;
}
.featured__toggle{
    display: flex;
    column-gap: 20px;
    flex-wrap: wrap;
}
.featured__toggle > div{
    padding: 5px;
}
.addBdr{
    border-bottom: 2px solid #F4DFC8;
}
.featured__icons{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    column-gap: 8px;
}

.featured__icons > div{
    justify-content: center;
    align-items: center;
    column-gap: 10px;
    border-right: 1px solid black;
    padding-right: 9px;
}

.featured__buttons > button{
    padding: 5px 10px 5px 10px;
    background-color: #97B618;
    color: black;
}


.featured__buttons{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    width: 90%;
}

.slick-slide{
    display: flex!important;
    justify-content: center;
    align-items: center;
}


@media screen and (max-width : 1560px){
    .featured__display {
        width: 300px!important;
    }
}
@media screen and (max-width : 1424px){
    .featured__display {
        width: 250px!important;
    }
}
@media screen and (max-width : 1200px){
    .featured__display {
        width: 400px!important;
    }
}
@media screen and (max-width : 940px){
    .featured__display {
        width: 350px!important;
    }
}
@media screen and (max-width : 824px){
    .featured__display {
        width: 300px!important;
    }
}
@media screen and (max-width : 712px){
    .featured__display {
        width: 270px!important;
    }
}
@media screen and (max-width : 641px){
    .featured__display {
        width: 400px!important;
    }
}
@media screen and (max-width : 470px){
    .featured__display {
        width: 300px!important;
    }
    .featured__toggle{
        font-size: small!important;
    }
    .featured__display > img{
        width: 90%!important;
    }
}