.indi__container{
    width: 80vw;
    margin: 160px auto;
    display: flex;
    column-gap: 20px;
}

.indi__left{
    width: 60%;
    
    color: black;
    /* padding: 10px; */
}
.indi__right{
    width: 31%;
    height: -moz-fit-content;
    height: fit-content;
    /* padding: 20px; */
    position: fixed;
    right: 120px;
}

.left1__top{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    /* row-gap: 10px; */
}

.left1__img > img{
    width: 100%!important;
    height: 100%!important;
    border-radius: 10px;
    margin-bottom: 10px;
}
.slick-slide > div{
    width: 100%;
}
.slick-slide > div > img{
    width: 100%!important;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;

}
.left4 > img{
    width: 100%!important;
    height: 400px;
    border-radius: 10px;
    margin-bottom: 10px;

}

.left1__bottom{
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
}
.left1__bottom > div{
    width: 25%;
    margin-bottom: 20px;
}
.left1__bottom > div > div{
    height: 15px;
}
.left1 ,.left2 ,.left3 , .left4, .left5{
    /* background-color: #F4DFC8; */
    /* background-color: #101010; */
    background-color: #F4DFC8;
    padding: 15px;
    color: black;
    border-radius: 10px;
}

.left1__top > div{
    width: 100%;
}

.links{
    display: flex;
    -moz-column-gap: 10px;
    column-gap: 5px;
    padding: 5px;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    
}
.price{
    padding: 5px 5px 5px 5px;
/* background-color: #97B618; */
background-color: white;
border-radius: 5px;
}

.indi__left > div{
    margin-bottom: 20px;
}

.fontClr{
    /* color: #97B618; */
    color: black;
}
.xyz > div{
    width: 0.98%!important;
    background-color: white!important;

}
.xyz{
    column-gap: 10px!important;
}

.slider__icon__left{
    position: absolute;
    left: 1%;
    top: 50%;
    padding: 5px;
    background-color: #97B618;
    border-radius: 5px;
    cursor: pointer;
}
.slider__icon__right{
    position: absolute;
    right: 1%;
    top: 50%;
    padding: 5px;
    background-color: #97B618;
    border-radius: 5px;
    cursor: pointer;
}

.left5{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    width: 85vw;
}

.removeFixed{
    position: relative;
    /* transform: translate3d(70px, 1430px, 0px); */
    width: 100%;
    right: 60px;
}


@media screen and (max-width:1200px){
    .indi__right{
        right: 80px;
    }
}

@media screen and (max-width:1000px){
    .indi__right{
        display: none;
    }
    .indi__left{
        width: 100%;
    }
}

@media screen and (max-width:600px){
    .left1 ,.left2 ,.left3 , .left4, .left5{
        padding: 10px 20px 10px 20px;
    }
    .indi__container{
        width: 90vw;
    }
}

@media screen and (max-width:540px){
    .indi__container{
        width: 95vw;
    }
    .left1__top > div > h1{
        font-size: x-large;
    }
}

@media screen and (max-width:440px){
    .left1__top > div > h1{
        font-size: large;
    }
    .left1__bottom > div{
        width: 40%;
    }
}