.overview__container{
    height: 70vh;
    display: flex;
    width: 100vw;
    padding: 40px;
    justify-content: center;
    align-items: center;
    color: black!important;
}

.overview__child1{
    width: 40%;
    min-height: 60%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 10px;
    position: relative;
    
}
.overview__child1 * > {
    width: 80%;
    text-align: justify;
    justify-content: center;
    align-items: center;
}
.overview__child1 >h1 {
font-size: xx-large;
font-weight: bold;

}
.overview__child1 > p{
    font-size: large;
}
.overview__child1 > button{
    background-color: #97B618;
    padding: 10px 30px;
    border-radius: 5px;
    color: black;
    font-weight: bold;
    font-size: large;
    width: 40%;
    margin-top: 10px;
}
.overview__child2{
    cursor: pointer;
    margin-top: 0px;
    width: 40%;
    display: flex;
    height: 80%;
    justify-content: center;
    align-items: center;
    -moz-column-gap: 15px;
    column-gap: 15px;
}
.sub__child1{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 70%;
}
.sub__child2{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    height: 70%;
}
.sub__child1 > img{
    width: 200px !important;
    border-radius: 10px;
    transition: transform 2 ease-in-out;
    }
    .sub__child2 > img{
    width: 200px !important;
    border-radius: 10px;
    transition: transform 2 ease-in-out;
    }
.sub__child1 > img:hover{
    transform: scale(1.1);
}
.sub__child2 > img:hover{
    transform: scale(1.1);

}



.child__provider{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    width: 30%;
    /* flex-wrap: wrap; */
    /* column-gap: 20px; */
    background-color: #F4EAE0;
    color: black;
    padding: 20px;
    border-radius: 10px;
}

.child__provider > img{
    width: 80px!important;
}


@media screen and (max-width : 1300px){
    .overview__child1 > h1{
        font-size: x-large!important;
    }
    .overview__child2{
        justify-content: end!important;
    }
    .sub__child1 > img{
        width: 150px!important;
    }
    .child__provider > p{
        text-align: left!important;
    }
}

@media screen and (max-width : 1058px){
    .overview__container{
        padding: 15px;
    }
    .overview__child1{
        width: 50%;
    }
    .overview__child2{
        width: 50%;
    }
    .overview__child2{
        justify-content: center!important;
    }
    .child__provider{
        width: 47%;
    }
}


@media screen and (max-width : 786px){
    .overview__child1 > h1{
        font-size: large!important;
    }
    .overview__child1 > p{
        font-size: medium!important;
    }
    .overview__child1 > button{
        width: 60%;
    }
    
    .sub__child1{
        display: none;
    }
    .sub__child2{
        height: 80%;
    }
}

@media screen and (max-width:650px){
    .child__provider{
        width: 90%;
    }
}

@media screen and (max-width:552px){
    .overview__child1 > h1{
        font-size: normal!important;
    }
    .overview__child1 > p{
        font-size: small!important;
        text-align: left!important;
    }
    .overview__child1 > button{
        width: 80%;
    }
   
}
@media screen and (max-width:510px){
    .sub__child2 > img{
        width: 140px!important;
    }
    .overview__child1{
        width: 70%;
    }
}