.property__container{
    width: 80vw;
    margin: 60px auto 100px auto;
    display: flex;
    column-gap: 20px;
    position: relative;
    justify-content: center;
}
.addWid{
    width: 24%;
}
.toggle__property{
    width: 80vw;
    margin: 160px auto 60px auto;
    
    
    /* width: fit-content; */
}
.toggle__property > div{
    display: flex;
    column-gap: 20px;
    width: fit-content;
    /* background-color: white; */
    /* background-color: #101010; */
    border-radius: 10px;
    padding: 10px;
    margin: auto;
}
.toggle__property > div > div{
    
    /* background-color: #101010; */
    color: black;
    font-weight: bold;
    font-size: x-large;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}
.onActive{
    background-color: #F4DFC8!important;
    color: black!important;
}
.addMargin{
    margin: 180px auto 40px auto!important;
}
.addSearchMargin{
    margin: 200px auto -100px auto!important;
}
.search__property{
    width: 80vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
}

.search__property > input{
    padding: 10px;
    width: 300px;
    border: 2px solid #04222A;
    border-radius: 10px;
}
.search__property > input::placeholder{
    /* font-weight: bold; */
    font-size: normal;
    color: black;
}
.search__property > button{
    padding: 10px 20px;
    font-weight: bold;
    background-color: #04222A;
    color: white;
    font-size: large;
    border-radius: 10px;
}

@media screen and (max-width:800px){
    .property__container{
        width: 100vw;
        justify-content: center;
        flex-wrap: wrap;
    }
    .toggle__property{
        width: 100vw;
        justify-content: center;
    }
    .toggle__property>div{
        margin: auto;
        
    }
    .toggle__property > div > div{
        font-size: unset !important;
        font-size: normal !important;
    }
}

@media screen and (max-width:700px){
    .search__property{
        flex-direction: column!important;
        row-gap: 10px!important;
    }
    .search__property > input{
        width: 100%!important;
    }.search__property > button{
        width: 100%!important;
    }
    
}


@media screen and (max-width:480px){
    .toggle__property > div {
         flex-direction: column;
         width: 90%;
    }
}