.onHoverUnderline:hover{
    text-decoration: underline ;
}

.hero__container{
    height: 70vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__list{
    width: 80vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
}

.hero__container__one{
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 60%;
    /* justify-content: center; */
    row-gap: 20px;
    
}
.hero__container__two{
    display: flex;
    flex-direction: column;
    width: 40%;
   margin-bottom: 200px;
    height: 60%;
    /* justify-content: center; */
    
}

.hero__container__two > img{
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: contain;
    background-position: cover;


}

.content__image{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    width: 67%;
    margin-top: 20px;
    
}



@media screen and (max-width:1040px){
    .header__list{
        width: 60vw;
    }
    .hero__container__one,.hero__container__two{
        width: 30%;
    }
}