.sticky-social-icons li:hover {
  margin-left: -115px;
  /* font-size: 23px; */
}

.sticky-social-icons li {
  list-style-type: none;
  background-color: #fff;
  color: #efefef;
  color: black;
  height: 43px;
  padding: 0px;
  margin: 0px 0px 4px 0px;
  -webkit-transition: all 0.25s ease-in-out;
  -moz-transition: all 0.25s ease-in-out;
  -o-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
  cursor: pointer;
  border-bottom: 1px solid #c7c7c7;
  border-radius: 30px;
}

.sticky-social-icons li p a {
  text-decoration: none;
  color: #2C3539;
}


.sticky-container {
  padding: 0px;
  margin: 0px;
  position: fixed;
  right: -130px;
  top: 170px;
  width: 210px;
  z-index: 1100;
}
.sticky-social-icons{
  padding-inline-start: 40px;
}

.sticky-social-icons li img {
  float: left;
  margin: 5px 4px;
  margin-right: 5px;
  /* margin-bottom: 10px; */
}

.sticky-social-icons li p {
  padding-top: 5px;
  margin: 0px;
  line-height: 16px;
  font-size: 13px;
}

.onHoverUnderline:hover{
    text-decoration: underline ;
}

.hero__container{
    height: 70vh;
    width: 100vw;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white!important;
    z-index: 10;
}
.header__list{
    width: 95vw;
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    align-items: center;
    z-index: 10000!important;
}



.header__list > a > img{
  width: 200px;
  height: 65px;
  object-position: center;
  object-fit: cover;
}

.header__list  > a , .add > a , .header__list >ul>li>a{
  color: unset !important;
  color: black!important;
  font-weight: bold;
  letter-spacing: 1px;
}

.header__list > ul{ 
  /* sublist */
  display: flex;
  width: 53%;
  justify-content: space-around;
}

.header__list>a:visited{
  color: white !important;
}

.hero__container__one{
  display: flex;
  flex-direction: column;
  width: 40%;
  height: 80%;
  /* justify-content: center; */
  row-gap: 20px;
    
}
.hero__container__two{
  display: flex;
  flex-direction: column;
  width: 35%;
  margin-bottom: 0px;
  height: 80%;
    /* justify-content: center; */
    
}

.hero__container__two > img{
    width: 80%;
    height: 80%;
    margin: auto;
    object-fit: contain;
    background-position: cover;


}

.content__image{
    display: flex;
    row-gap: 10px;
    flex-direction: column;
    width: 67%;
    margin-top: 20px;
    
}
.input-area > textarea::placeholder{
  font-size: x-large;
}
.input-area > input::placeholder{
  font-size: x-large;
}
.container-f{
  font-size: x-large;
}
.hero__container__one > p{
  font-size: x-large;
}
.add{
    position: fixed;
top: 40px;
width: 100vw;
z-index: 10000;
color: black;
padding: 15px;
background-color: white;
margin-top: 0px!important;
border-bottom: 2px solid gray;
}




/* body{ margin:0; font-family:'tahoma'}

nav {
  margin:0 auto;
  width:100%;
  height:auto;
  display:inline-block;
  background:#37bc9b;
}

nav ul {
  margin:0;padding:0;
  list-style-type:none;
  float:left;
  display:inline-block;
}

nav ul li {
  position:relative;
  margin:0 20px 0 0;
  float:left;
  display:inline-block;
} */

/* li > a:after { content: ' »'; } 

li > a:only-child:after { content: ''; } */

/* nav ul li a {
  padding:20px;
  display:inline-block;
  color:white;
  text-decoration:none;
} */

/* nav ul li a:hover {
  opacity:0.5;
} */

/* nav ul li ul {
  display:none;
  position:absolute;
  left:0;
  background:#37bc9b;
  float:left;
} */

.video__container > iframe > #document > html > body > .video-js{
  overflow: hidden!important;
}

.sub__list{
      display: none;
      position: fixed;
      margin: 0px -23px;
      padding: 20px;
      background: #04222A;
      border-radius: 10px;
}

.header__list> ul > li:hover >ul ,.sub__list:hover{
  display: block;
}

.sub__list > li {
  width:100%;
  border-bottom:1px solid rgba(255,255,255,.3);
}

/* nav ul li:hover ul {
  display:block;
}  */


#menu__toggle {
    opacity: 0;
    display: none;
  }
  #menu__toggle:checked + .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked + .menu__btn > span::before {
    top: 0;
    transform: rotate(0deg);
  }
  #menu__toggle:checked + .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    right: 0 !important;
  }
  #menu__toggle:checked + .menu__btn{
    top: 35px!important;
  }
  .menu__btn {
    position: fixed;
    top: 85px;
    right: 25px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 100000;
   
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    /* background-color: #616161; */
    
    /* background-color: black; */
    background-color: black;
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -8px;
  }
  .menu__btn > span::after {
    content: '';
    top: 8px;
  }
  .hamburger-menu{
    display: none;
    z-index: 1200000;
  }
  .menu__box {
    display: block;
    position: fixed;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #617278;
    
    box-shadow: 2px 2px 6px rgba(0, 0, 0, .4);
    transition-duration: .25s;
  }
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: .25s;
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }

  /* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap");

* {
	box-sizing: border-box;
} */

/* body {
	background: #E6E6FA;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: "Poppins", sans-serif;
	min-height: 100vh;
} */

.container-f {
  display: none!important;
	background-color: white;
    /* border: 3px solid #660033; */
    border-radius: 10px;
    color: black;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 30px 60px;
    text-align: center;
    width: 600px;
    max-width: 100%;
}

.container-f p {
	/* color: rgb(136, 136, 136); */
  color: black;
	letter-spacing: 0.4px;
}

.container-f form {
	width: 100%;
}

.container-f .input-area {
	position: relative;
	margin: 10px 0;
	height: 44px;
	width: 100%;
}

.container-f .h-80 {
	height: 80px;
}

.container-f input, .container-f textarea {
  position: absolute;
	display: block;
	/* font-family: "Poppins", sans-serif; */
	font-size: 14px;
	padding: 12px;
	height: 100%;
	width: 100%;
  border: 1px solid #999;
  border-radius: 4px;
  outline: none;
  resize: none;
}

.container-f .sendbtn {
  display: block;
  width: 100%;
	background: #04222A;
	color: #fff;
	font-size: 18px;
	padding: 11px;
  border: none;
	border-radius: 4px;
  cursor: pointer;
}

.container-f .sendbtn:hover {
  /* background-color: #993366 */
}

@media screen and (max-width: 600px) {
	.container-f {
		padding: 20px 30px;
	}
}

.social-container {
	position: fixed;
	right: 0;
	bottom: 80px;
	transform: translateX(100%);
	transition: transform 0.4s ease-in-out;
  z-index: 10;
}

.social-container.visible {
	transform: translateX(-10px);
}

.custom-social-container {	
	background-color: #fff;
	border-radius: 16px;
	box-shadow: 0 16px 31px -17px rgba(248, 4, 77, 0.6);
	border: 5px solid #660033;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* font-family: "Poppins", sans-serif; */
	position: relative;
	height: 169px;	
	width: 370px;
	max-width: calc(100% - 10px);
}

.custom-social-container button.cross-btn {
	border: 0;
	color: #660033;
	cursor: pointer;
	font-size: 20px;
	position: absolute;
	top: 0px;
	right: 15px;
}

.custom-social-container p {
	background-color: #660033;
	border-radius: 0 0 10px 10px;
	color: #fff;
	font-size: 14px;
	line-height: 28px;
	padding: 2px 17px 6px;
	position: absolute;
	top: 0;
	left: 50%;
	margin: 0;
	transform: translateX(-50%);
	text-align: center;
	width: 215px;
}
.menu__box  > li{
  border-bottom: 1px solid black;
}

.menu__box > li > a > img{
  width: 100%;
  height: 90px;
  object-fit: cover;
  background-position: center;
}
.numbers{
      max-width: 130px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.phone{
  position: absolute;
  top: 40px;
  font-size: x-large;
  letter-spacing: 2px;
}

.phone__class:before {
  content: "\f095";
  background-color: #04222A;
  padding: 10px 20px;
  color: white;
  border-radius: 100%;
}

.contact__info__first{
  width: 30%;
  padding: 50px;
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  background-color: #04222A;
  height: fit-content;
  border-radius: 10px;
  font-size: large;
}
.contact__info__first >h1{
font-size: x-large;
font-weight: bold;
letter-spacing: 2px;
}
.contact__info__second{
  width: 60%;
}
/* .hide > i{
  width: 60px;
  height: 60px;
} */

.custom-social-container ul {
	display: flex;
	list-style-type: none;
	padding: 0;
  margin-top: 85px;
}

.custom-social-container ul li {
	margin: 0 10px;
}

.custom-social-container ul li a {
	border: 1px solid #999;
	border-radius: 50%;
	color: #660033;
	font-size: 20px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 50px;
	width: 50px;
	text-decoration: none;
}

.custom-social-container ul li a:hover {
	border-color: #ffd791;
	box-shadow: 0 9px 12px -9px #ffd791;
}

.connect-btn {
	border-radius: 26.5px;
	background-color: #04222A;
	border: 1px solid #04222A;
	box-shadow: 0 16px 22px -17px #04222A;
  background-color: #04222A;
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 20px;
	padding: 12px 20px;
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 999;
  font-weight: bold;
  letter-spacing: 2px;
}

.connect-btn:hover {
	/* background-color: #993366; */
}


.main__contact__container > div > ul{
position: relative!important;
top: 0px;
}
.main__contact__container > div  > div > label{
position: absolute!important;
top: 45px!important;
}
.main__contact__container > div{
position: relative!important;
margin: 0px;
}

.top__header{
  width: 100vw;
  height: 40px;
  z-index: 1000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  letter-spacing: 3px;
  background-color: gray;
  position: fixed;
  top: 0px;
}


.contact__info{
  background-color: white;
  padding: 100px;
  display: flex;
  /* flex-direction: column; */
  color: white;
  width: 100vw;
  justify-content: center;
  column-gap: 40px;
}


.contact__info__first > div{
  align-items: center;
}

  @media screen and (max-width:1250px){
    .contact__info__first{
      padding: 20px!important;
    }
  }

  @media screen and (max-width : 1130px){
    .hamburger-menu{
        display: block;
    }
    .hide{
        display: none;
    }
    .phone__container{
      position: absolute;
      right: 65px;
    }
  }

  @media screen and (max-width:1000px){
    .hero__container__two{
      width: 45%!important;
    }
    .hero__container__one > p{
      font-size: large;
    }
    .contact__info__first{
      width: 40%!important;
    }
  }
  @media screen and (max-width : 800px){
    .hero__container__one{
        width: 50%;
    }
    .container-f{
      padding: 30px 30px;
    }
    .contact__info{
      flex-direction: column!important;
      row-gap: 40px!important;
    }
    .contact__info__first{
      width: 100%!important;
    }
    .contact__info__second{
      width: 100%!important;
    }
  }

  @media screen and (max-width : 605px){
    .custom-social-container button.cross-btn{
      color: white;
    }
    .input-area > textarea::placeholder{
      font-size: large;
    }
    .input-area > input::placeholder{
      font-size: large;
    }

    .hero__container__one > h1{
        font-size: x-large!important;
    }
    .hero__container__one > p{
        text-align: left;
    }
    .hero__container__one {
      width: 100%;
      padding: 0px 40px;
      display: flex;
      flex-direction: column;
      width: 40%;
      height: 25%!important;
      /* justify-content: center; */
      row-gap: 20px;
    }
    .hero__container__one >h1,p{
      width: 100%!important;
    }
    .hero__container__two {
      width: 100%!important;
      display: flex;
      flex-direction: column;
      width: 35%;
      /* margin-bottom: 0px; */
      height: 60%!important;
    }
    .container-f{
      width: 90%!important;
      height: 90%;
      padding: 30px 30px;
      margin: 0px auto;
    }
    .input-area{
      height: 25px!important;
    }
    .h-less{
      height: 45px!important;
    }
    .hero__container{
      flex-direction: column!important;
    }
    .hero__container__one{
      width: 100%!important;
      margin-top: 100px!important;
    }
    .hero__container__two{
      width: 100%!important;
    }
    .hero__container__one > p{
      /* display: none; */
    }
    .contact__info{
      padding: 50px!important;
    }
  }

  /* @media screen and (max-width : 500px){
    .hero__container__two{
        display: none;
    }
    .hero__container__one{
        width: 80%;
    }
  } */

  @media screen and (max-width:560px){
    .phone__container{
      display: none!important;
    }
  }

  @media screen and (max-width: 480px) {

    .social-container.visible {
      transform: translateX(0px);
    }
    
    .connect-btn {
      right: 10px;
    }
  }
  